.label{
    border-radius: 8px;
    border: 1px solid rgb(141, 139, 139);
    outline: none;
    font-size: 15px;
}

body{
    text-align: center;
}


#contenedormaestro{
    background-color: cadetblue;
    width: 25%;
    position:relative;
    left: 75%;
    border-radius:50px ;
}

#iniciosesion{
    position: absolute;
    right: 350px;
    top: 90px;
}

#administrador{
    position: absolute;
    left: 750px;
    top: 295px;
}

#maestro{
    position: absolute;
    left: 750px;
    top: 240px;
}

#alumno{
    position: absolute;
    left: 750px;
    top: 350px;
}

#Boton1{
    width: 100px;
    height: 40px;
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px;
    box-shadow:0px 5px 0px #383a36;
    border-color:#383a36;
    
}

#form_inses{
    background-color: rgba(245, 222, 179, 0);
    width: 50%;
    position: relative;
    left: 25%;
    height: 400px;
    
}
#field1{
    position: absolute;
    top: 50px;
}
#Boton2{
    width: 100px;
    height: 40px;
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px;
    box-shadow:0px 5px 0px #383a36;
    border-color:#383a36;
}

#Boton3{
    width: 100px;
    height: 40px;
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px;
    box-shadow:0px 5px 0px #383a36;
    border-color:#383a36;
}

#Boton4{
    width: 120px;
    height: 40px;
    position: relative;
    right: 50px;
    top: -5px;
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px;
    box-shadow:0px 5px 0px #383a36;
    border-color:#383a36;
}

#colorformulario{
    background-color: rgba(164, 235, 238, 0.781);
    width: 50%;
    position: relative;
    left: 25%;
}

#Boton5{
    width: 120px;
    height: 40px;
    position: relative;
    right: 30px;
    top: -5px;
    background-color: #a5ae9d;
    color: #fff;
    border-radius: 15px;
    box-shadow:0px 5px 0px #383a36;
    border-color:#383a36;
}


#Boton6{
    width: 100px;
    height: 40px;
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px;
    box-shadow:0px 5px 0px #383a36;
    border-color:#383a36;
}

#indicacion1{
    background-color:#111b2891;
    position:static;
    left: 300px;
    width: 100%;
    height: 40px;
    
}

#retitulo{
    color: white;
    font-size: 30px;
    
    
}

#retitulo2{
    color: white;
    font-size: 30px;
    background-color: #111b28;
    height: 50px;
}


h1{
    text-align: center;
}

#campo1{
    position:abstolute;
    height: 25px;
}

#instrucciones2{
  background-color:#111b28;
    position:static;
    left: 300px;
    width: 100%;
    height: 40px; 
}

#campoini{
    position:relative;   
    height: 25px;
    top: 50px;
}

#campoini2{
    position:relative;
    height: 25px;
    top: 100px;
}

#menu{
    background-color: cadetblue;
    width: 25%;
    position:relative;
    left: 75%;
    border-radius:50px ;
}



#Boton7{
    width: 100px;
    height: 40px;
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px;
    position:relative;
    left: -30px;
    top: 2px;
    box-shadow:0px 5px 0px #383a36;
    border-color:#383a36;
}

#Boton8{
    width: 100px;
    height: 40px;
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px;
    box-shadow:0px 5px 0px #383a36;
    border-color:#383a36;
}

#Boton22{
    width: 140px;
    height: 40px;
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px;
    position:relative;
    right: 10px; 
    top: -5px;
    box-shadow:0px 5px 0px #383a36;
    border-color:#383a36;
}

#iniciarsesionalum{
    position: absolute;
    top: 300px;
    left: 45%;
}



#titulo{
    background-color:#111b28;
    position:static;
    left: 300px;
    width: 100%;
}

h2{
    text-align: center;
}

#botonini1{
    position: absolute;
    left: 620px;
    top: 210px;
    
}



#Boton9{
    width: 130px;
    height: 40px;
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px;
    box-shadow:0px 5px 0px #383a36;
    border-color:#383a36;
}

#botonini2{
    position: absolute;
    left: 620px;
    top: 150px;
}

#Boton10{
    width: 130px;
    height: 40px;
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px;
    box-shadow:0px 5px 0px #383a36;
    border-color:#383a36;
}

#botonini3{
    position: absolute;
    left: 620px;
    top: 330px;
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px;
    box-shadow:0px 5px 0px #383a36;
    border-color:#383a36;
}

#Boton11{
    width: 130px;
    height: 40px;
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px; 
    box-shadow:0px 5px 0px #383a36;
    border-color:#383a36;   
}

#botonini4{
    position: absolute;
    left: 620px;
    top: 390px;
}

#Boton12{
    width: 130px;
    height: 40px; 
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px;    
    box-shadow:0px 5px 0px #383a36;
    border-color:#383a36;
}

#botonini5{
    position: absolute;
    left: 620px;
    top: 270px;
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px;
}

#Boton13{
    width: 130px;
    height: 40px;
    box-shadow:0px 5px 0px #383a36;
    border-color:#383a36;
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px;
}

#botonini6{
    position: absolute;
    left: 620px;
    top: 450px;
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px;
}

#Boton14{
    width: 130px;
    height: 40px;
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px;
    box-shadow:0px 5px 0px #383a36;
    border-color:#383a36;
}

#indicacion3{
    background-color:burlywood;
    position:static;
    left: 300px;
    width: 100%;
}

#Boton15{
    width: 130px;
    height: 40px;
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px;
    box-shadow:0px 5px 0px #383a36;
    border-color:#383a36;
}

#Boton16{
    width: 130px;
    height: 40px;
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px;
    box-shadow:0px 5px 0px #383a36;
    border-color:#383a36;
}

#regiscampo1{
    position:abstolute;
    
    height: 25px;
}

#regiscampo2{
    position:abstolute;
    
    height: 25px;
}

#regiscampo3{
    position:abstolute;
    
    height: 25px;
}

#regiscampo4{
    position:abstolute;
    
    height: 25px;
}

#regiscampo5{
    position:abstolute;
    
    height: 25px;
}



#Boton18{
    width: 130px;
    height: 40px;
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px;
    position: absolute;
    left: 425px;
    top: 250px;
    box-shadow:0px 5px 0px #383a36;
    border-color:#383a36;
}

#botonvolverinicio2{
    position: absolute;
    left: 50px;
    top: 200px;
}

#botonregistromaq{
    position: relative;
    right: 80px;
    top: 50px;
}

#botonvolvermenu{
    position: relative;
    left: 90px;
    top: 10px;
}

#indicaciones5{
    background-color:burlywood;
    position:static;
    left: 300px;
    width: 600px;    
}

#botonvolverinicio5{
    position: absolute;
    left: 650px;
    top: 35px;
}

#Boton19{
    width: 130px;
    height: 40px;
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px;
    box-shadow:0px 5px 0px #383a36;
    border-color:#383a36;
}

#botonreprob{
    position: absolute;
    left: 630px;
    top: 250px;
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px;
    box-shadow:0px 5px 0px #383a36;
    border-color:#383a36;
}

#botonvolveralinicio4{
    position: absolute;
    left: 630px;
    top: 300px;
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px;
    box-shadow:0px 5px 0px #383a36;
    border-color:#383a36;
}

#Boton17{
    width: 180px;
    height: 40px;
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px;
    box-shadow:0px 5px 0px #383a36;
    border-color:#383a36;
}

#Boton20{
    width: 180px;
    height: 40px;
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px;
    box-shadow:0px 5px 0px #383a36;
    border-color:#383a36;
}

#indicaciones4{
    background-color:#111b28;
    position:static;
    left: 300px;
    width: 100%; 
}

#elegirmaquina{
    
    width: 100%;   
    height: 25px;
}

#descripcionproblematecnico{
    
    width: 100%;  
    height: 25px;
}

#indicaciones5{
    background-color:#111b28;
    position:static;
    left: 300px;
    width: 600px; 
}

#volveralmenu1{
    position: absolute;
    left: 550px;
    top: 450px;    
}

#Boton21{
    width: 130px;
    height: 40px;
    background-color:#a5ae9d;
    color: #fff;
    border-radius: 15px;
    box-shadow:0px 5px 0px #383a36;
    border-color:#383a36;
}

th{
    border: 1px solid #FFF;
    background-color:#a5ae9d;
    padding: 10px;
    
}

td{
    border: 1px solid #FFF;
    background-color:gainsboro;
    padding:20px;
}


#Dalumno{
    background-color:#111b28;
    position: absolute;
    width: 75%;
    height: 50px;
    left: 10%;
}

#tablamaquina{
    position: absolute;
    left: 25%;
}

#tablaperfil{
    position: absolute;
    left: 40%;
    top: 100px;
}
#tablabita{
    position: absolute;
    left: 35%;
    top: 100px;
}

