<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistroProblemaTecnico</servlet-name>
        <servlet-class>AlumnoRegistro.RegistroProblemaTecnico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfildelUsuario</servlet-name>
        <servlet-class>AlumnoRegistro.PerfildelUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaquinaRegistro</servlet-name>
        <servlet-class>AlumnoRegistro.MaquinaRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Iniciosesion</servlet-name>
        <servlet-class>AlumnoRegistro.Iniciosesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cerrarsesion</servlet-name>
        <servlet-class>AlumnoRegistro.Cerrarsesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumRegistro</servlet-name>
        <servlet-class>AlumnoRegistro.AlumRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaRegistro</servlet-name>
        <servlet-class>MaestroRegistro.MaRegistro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroProblemaTecnico</servlet-name>
        <url-pattern>/RegistroProblemaTecnico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfildelUsuario</servlet-name>
        <url-pattern>/PerfildelUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaquinaRegistro</servlet-name>
        <url-pattern>/MaquinaRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Iniciosesion</servlet-name>
        <url-pattern>/Iniciosesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cerrarsesion</servlet-name>
        <url-pattern>/Cerrarsesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumRegistro</servlet-name>
        <url-pattern>/AlumRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaRegistro</servlet-name>
        <url-pattern>/MaRegistro</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
